<div class="card">
  <h2 class="card-header">Edit pin</h2>
  <div class="card-body">
    <%= render 'form', pin: @pin %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'â† Go back', root_path %> | <%= link_to 'Show', @pin %>
  </div>
</div>