<div class="card">
  <h2 class="card-header">New pin</h2>
  <div class="card-body">
    <%= render 'form', pin: @pin %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Back', pins_path %>
  </div>
</div>