<div class="jumbotron">
    <h1 class="display-4">Welcome to Raf-Pinteresting!</h1>
    <p class="lead">This is just a simple website where you can share random pictures with everyone.</p>
    <hr class="my-4">
    <p>Sign up now to start pinning!</p>
    <p class="lead">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg"  %>
    </p>
</div>