<div class="jumbotron">
    <h1 class="display-4">About</h1>
    <p class="lead">Hello! My name is Rafael, and this is a very simple website I built for learning Ruby on Rails. I hope you like it!</p>
</div>