<h1>Pinteresting</h1>
<p>Find me in app/views/home/index.html.erb</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
<script>$('h1').click(function() {
    alert("hi");
});</script>